<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /ecs/frontend/dist
  RewriteRule ^/ecs/frontend/dist/index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /ecs/frontend/dist/index.html [L]
</IfModule>
